{template "content","header"}
	<link rel="stylesheet" href="{CSS_PATH}mycss/base.css">
	<link rel="stylesheet" href="{CSS_PATH}mycss/main.css">
	<link rel="stylesheet" href="{CSS_PATH}mycss/style1.css">
	<script src="{JS_PATH}myjs/jquery.min.js"></script>
	<script src="{JS_PATH}myjs/szcy.js"></script>
	
	<!-- banner -->
	<div id="m_b_box">
		<ul class="m_banner">
			{pc:content action="lists" catid="36" num="3"}
			{php $i=0}
			{loop $data $v}
			{$i++}
			<li {if $i==1}class="firstd"{/if}><img src="{$v[thumb]}" alt=""></li>
			{/loop}
			{/pc}
		</ul>
		<ul class="dian">
			<li class="firstd"></li>
			<li></li>
			<li></li>
		</ul>
		<div class="tiao">
			<div class="laba"><img src="{IMG_PATH}myimg/laba.png" alt=""></div>
		</div>
	</div>
	
	
	<!-- 正文-->
	<div class="ipbox">
		<div class="jianjie">
			<div class="tu1">
				<img src="{IMG_PATH}myimg/hxjz.jpg" alt="">
			</div>
			<div class="jjkuang">
				<div class="jjtop">
					<img src="{IMG_PATH}myimg/bsj.jpg" alt="" class="jjsj">
					<img src="{IMG_PATH}myimg/gsjj_01.png" alt="" class="tu2">	
					<span class="dongtai">公司简介</span>
					<a href="http://localhost/lxmweb/index.php?m=content&c=index&a=lists&catid=10">MORE</a>
			 	</div>
			 	<div class="wenben">
			 		<img src="{IMG_PATH}myimg/sy_01.png" alt="" class="yin1">
			 		<img src="{IMG_PATH}myimg/sy_02.png" alt="" class="yin2">
			 		<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;深圳市创新投资集团有限公司是深圳市政府于1999年8月发起成立的专<br>业从事创业投资的有限责任公司。成立以来一直致力于培育民族产业、塑造<br>民族品牌、促进经济转型升级和新兴产业发展，目前已发展成为国内实力最<br>强、影响力最大的本土创业投资公司。</p>
			 	</div>
			</div>
		</div>
	</div>
	<!-- 正文2 -->
	<div class="ipbox2">
		<div class="left_box">
			<div class="lefttop">
				<img src="{IMG_PATH}myimg/bsj.jpg" alt="" class="jjsj1">
				<img src="{IMG_PATH}myimg/gsjj_02.png" alt="" class="tu3">
				<span class="dongtai">新闻聚焦</span>
				<a href="http://www.szvc.com.cn/main/news/groupNews/index.shtml">MORE</a>
			</div>
			<div class="szyan">
				<dt><img src="{IMG_PATH}myimg/szhtds1.jpg" alt=""></dt>
			{pc:content action="lists" catid="38" num="1"}
				{loop $data $q}
					<dd>
						<div><a href="">{$q[title]}</a></div>     
						<div><a href="" class="riqi">{date('Y-m-d')}</a></div>     
					</dd>
				{/loop}
			{/pc}	
			</div>
			{pc:content action="lists" catid="9" num="5"}
			{loop $data $q}
			<li>
				<a href="{$q[url]}" class="xiaoguo">{$q[title]}<span>{date('Y-m-d')}</span></a>
			</li>
			{/loop}
			{/pc}
		</div>
		<div class="right_box">
			<div class="righttop">
				<img src="{IMG_PATH}myimg/bsj.jpg" alt="" class="jjsj1">
				<img src="{IMG_PATH}myimg/gsjj_05.png" alt="" class="tu4">
				<span class="dongtai">创投研究</span>
				<a href="http://localhost/lxmweb/index.php?m=content&c=index&a=lists&catid=12">MORE</a>
			</div>
			<ul class="studylist">
				<div class="studly">
					{pc:content action="lists" catid="39" num="1"}
				{loop $data $q}
					<dd>
						<li><a href="">{$q[title]}</a></li>      
					</dd>
					<dd><img src="{IMG_PATH}myimg/xwbz.png" alt=""></dd>
				</div>
				{/loop}
			{/pc}	
			{pc:content action="lists" catid="37" num="5"}
				{loop $data $q}
					<li>
						<a href="{$q[url]}" class="xiaoguo">{$q[title]}</a>
					</li>
				{/loop}
			{/pc}
			</div>	
			</ul>
		</div>
	</div>
	<!-- 正文2 -->
	<div class="ipbox2">
		<div class="left_box">
			<div class="lefttop">
				<img src="{IMG_PATH}myimg/bsj.jpg" alt="" class="jjsj3">
				<img src="{IMG_PATH}myimg/gsjj_04.png" alt="" class="tu3">
				<span class="dongtai">投资企业动态</span>
				<a href="http://www.szvc.com.cn/main/news/tzqydt/index.shtml">MORE</a>
			</div>
			<div class="investmet">
			{pc:content action="lists" catid="40" num="10"}
				{loop $data $q}	
				<li>
					<a href="">{$q[title]}<span>{date('Y-m-d')}</span></a>
				</li>
				{/loop}
			{/pc}	
			</div>
		</div>
		<div class="right_box">
			<div class="righttop">
				<img src="{IMG_PATH}myimg/bsj.jpg" alt="" class="jjsj1">
				<img src="{IMG_PATH}myimg/gsjj_05.png" alt="" class="tu4">
				<span class="dongtai">政策法规</span>
				<a href="http://www.szvc.com.cn/main/ctyj/professionalTeam/zcfg/index.shtml">MORE</a>
			</div>
			<ul class="studylist1">
				{pc:content action="lists" catid="41" num="10"}
				{loop $data $q}
				<a href=""><li>{$q[title]}</li></a>
				{/loop}
				{/pc}
			</ul>
			
		</div>
	</div>
	
	
	
	<!-- 二维码 -->
	<div class="erweima">
		<img src="{IMG_PATH}myimg/szvc.jpg" alt="">
	</div>
{template "content","footer"}